@font-face {
    font-family: "Gilroy";
    src: url("../fonts/Gilroy-Regular.eot");
    src: local("Gilroy Regular"), local("Gilroy-Regular"),
        url("../fonts/Gilroy-Regular.eot?#iefix") format('embedded-opentype'),
        url("../fonts/Gilroy-Regular.woff") format('woff'),
        url("../fonts/Gilroy-Regular.ttf") format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Gilroy";
    src: url("../fonts/Gilroy-Medium.eot");
    src: local("Gilroy Medium"), local("Gilroy-Medium"),
        url("../fonts/Gilroy-Medium.eot?#iefix") format('embedded-opentype'),
        url("../fonts/Gilroy-Medium.woff") format('woff'),
        url("../fonts/Gilroy-Medium.ttf") format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: "Gilroy";
    src: url("../fonts/Gilroy-Black.eot");
    src: local("Gilroy Black"), local("Gilroy-Black"),
        url("../fonts/Gilroy-Black.eot?#iefix") format('embedded-opentype'),
        url("../fonts/Gilroy-Black.woff") format('woff'),
        url("../fonts/Gilroy-Black.ttf") format('truetype');
    font-weight: 900;
    font-style: normal;
}

